<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="x-server-env" content="dev"/>
    <link href="//cdn.bootcss.com/antd/2.7.3/antd.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/index.css" />
    <!--[if lt IE 10]>
    <script src="https://as.alipayobjects.com/g/component/??console-polyfill/0.2.2/index.js,es5-shim/4.5.7/es5-shim.min.js,es5-shim/4.5.7/es5-sham.min.js,html5shiv/3.7.2/html5shiv.min.js,media-match/2.0.2/media.match.min.js"></script>
    <script src="//cdn.bootcss.com/es6-promise/3.2.2/es6-promise.min.js"></script>
    <![endif]-->
  <script>
    (function(){
      window.nbugs_monitor = function(category, action, label) {
        console.log('[monitor] category: ' + category + ' action: ' + action + ' label: ' + label)
      }
      function onClick(e) {
        e = e || window.e;
        var target = e.target;
        if (!target || !target.className) {
          return;
        }
        var classList = target.className.split(' ');
        console.log(classList)
        if (classList.indexOf('nbugs-monitor') === -1) { return };
        var category = target.getAttribute('data-category');
        var action = target.getAttribute('data-action');
        var label = target.getAttribute('data-label');
        nbugs_monitor(category, action, label);
      }
      if (window.addEventListener) {
        window.addEventListener('load', function() {
          document.body.addEventListener('click', onClick, false);
        }, false);
      } else {
        window.attachEvent('onload', function() {
          document.body.attachEvent('onclick', onClick);
        })
      }
    })();
  </script>
  <script src="//cdn.bootcss.com/react/15.3.0/react.min.js"></script>
  <script src="//cdn.bootcss.com/react/15.3.0/react-dom.min.js"></script>
  <script src="//cdn.bootcss.com/react-router/2.6.1/ReactRouter.min.js"></script>
  <script src="//cdn.bootcss.com/antd/2.7.3/antd.min.js"></script>
  </head>

  <body scroll="no">
      <div id="root" style=" background: #ececec; height: inherit; padding-bottom: 100px"></div>
  </body>
  <script src="/common.js"></script>
  <script src="/index.js"></script>
</html>